---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Planet Playing Cards</strong></h1>


<div class="planets">
    <div class="planet sun">
        <div class="circle sun"></div>
        <p class="namesun">Sun</p>
        <p class="au"</p>
    </div>
    <div class="planet earth">
        <div class="circle earth"></div>
        <p class="name">Earth</p>
        <p class="au">1</p>
    </div>
    <div class="planet mars">
        <div class="circle mars"></div>
        <p class="name">Mars</p>
        <p class="au">1.52</p>
    </div>
    <div class="planet venus">
        <div class="circle venus"></div>
        <p class="name">Venus</p>
        <p class="au">0.722</p>
    </div>
        <div class="planet jupiter">
        <div class="circle jupiter"></div>
        <p class="name">Jupiter</p>
        <p class="au">5.2</p>
    </div>
        <div class="planet mercury">
        <div class="circle mercury"></div>
        <p class="name">Mercury</p>
        <p class="au">0.387</p>
    </div>
        <div class="planet saturn">
        <div class="circle saturn"></div>
        <p class="name">Saturn</p>
        <p class="au">9.58</p>
    </div>
        <div class="planet neptune">
        <div class="circle neptune"></div>
        <p class="name">Neptune</p>
        <p class="au">30.1</p>
    </div>
        <div class="planet uranus">
        <div class="circle uranus"></div>
        <p class="name">Uranus</p>
        <p class="au">19.2</p>
    </div>