---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Planet Playing Cards <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />

<div class="planets"
    <div class="sun">
        <div class="circle sun"></div>
        <p class="name">Sun</p>
        <p class="au"</p>
    </div>
    <div class="Earth">
        <div class="circle earth"></div>
        <p class="name">Earth</p>
        <p class="au"</p>
    </div>
    <div class="Mars">
        <div class="circle mars"></div>
        <p class="name">Mars</p>
        <p class="au"</p>
    </div>
    <div class="venus">
        <div class="circle venus"></div>
        <p class="name">Venus</p>
        <p class="au"</p>
    </div>
        <div class="Jupiter">
        <div class="circle jupiter"></div>
        <p class="name">Jupiter</p>
        <p class="au"</p>
    </div>
    <div class="Mars">
        <div class="circle mars"></div>
        <p class="name">Mars</p>
        <p class="au"</p>
    </div>
        <div class="mercury">
        <div class="circle mercury"></div>
        <p class="name">Mercury</p>
        <p class="au"</p>
    </div>
        <div class="saturn">
        <div class="circle saturn"></div>
        <p class="name">Saturn</p>
        <p class="au"</p>
    </div>
        <div class="neptune">
        <div class="circle neptune"></div>
        <p class="name">Neptune</p>
        <p class="au"</p>
    </div>
        <div class="uranus">
        <div class="circle uranus"></div>
        <p class="name">EaUranusrth</p>
        <p class="au"</p>
    </div>