:root {
    --back: rgb(28, 28, 95);
    --font: rgb(219, 241, 255);

}



body {
    font-family: Helvetica, sans-serif;
    background: var(--back);
    padding: 0 40px;
    text-align: center;
}


h1 {
    font-size: 6em;
    letter-spacing: -2px;
    color: var(--font);
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(114, 75, 255) 0%, rgb(160, 149, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.planets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--back);
    padding: 10px;
    gap: 10px
  }

.planet{
    background-color: rgb(101, 103, 177);
    color: black;
    padding: 10%;
    border-radius: 1rem;
}

.planet:hover{
    background-color: var(--font);
}

.planet.sun{
    grid-column: 1/3;
    grid-row: 1/3;
    
}

.circle{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20%;
}

.circle.sun{
    background-image: radial-gradient(red, rgb(255, 187, 0), rgb(251, 255, 0));
    height: 200px;
    width: 200px;
}

.circle.mercury{
    background-image: radial-gradient(red, yellow, green);
}

.circle.venus{
    background-image: radial-gradient(red, rgb(238, 182, 0), rgb(163, 0, 82));
}

.circle.earth{
    background-image: radial-gradient(rgb(47, 0, 255), rgb(53, 101, 133), green);
}

.circle.mars{
    background-image: radial-gradient(rgb(251, 255, 0), rgb(172, 172, 21), rgb(105, 128, 0));
}

.circle.jupiter{
    background-image: radial-gradient(rgb(204, 119, 119), rgb(185, 176, 136), rgb(160, 113, 142));
}

.circle.saturn{
    background-image: radial-gradient(rgb(219, 164, 255), rgb(170, 149, 184), rgb(102, 88, 119));
}

.circle.uranus{
    background-image: radial-gradient(rgb(81, 45, 214), rgb(103, 174, 255), rgb(141, 232, 255));
}

.circle.neptune{
    background-image: radial-gradient(rgb(4, 0, 255), rgb(0, 110, 255), rgb(19, 0, 128));
}